
<!--Footer Start-->
<footer  class="footer__top" >

  <div class="w-90 mx-auto">
    <div class="row align-items-center">
      <div class="col-md-10">
        <div class="row no-gutters align-items-center">
          <div class="col-xl-3 col-lg-3 col-md-4 col-5">
            <div class="d-flex justify-content-between align-items-center">

              <h2 class="footer__top--h2">More
                <br>
                Than</h2>

                <h3 class="main-title footer__top--h3">100</h3>
            </div>
          </div>


          <div class="col-xl-9 col-lg-9 col-md-8 col-7">
            <div class="footer_caption">

              <h4>IDEAS HAVE BEEN GENERATED</h4>
              <h4>In the time it took you to read this sentence
              </h4>

            </div>
          </div>

        </div>
      </div>
      <div class="col-md-2">
        <a routerLink="/say-hello" class="btn btn-transparent footer__top--button">
          Let’s Bond
        </a>
      </div>
    </div>
  </div>
</footer>
<footer class="footer-style-1 footer__bottom bg-dark-gray ">
  <button type="button" class="btn btn_up">
    <img src="assets/images/up_arrow.png" alt="">
    <!-- <i class="fa fa-arrow-up"></i> -->
  </button>
  <img src="assets/images/whole_curcle_icon.png" class="footer__icon" alt="">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-3">
        <h4 class="mb-5">The Bonders Are
        </h4>
        <p>A bonded family that mix and match creativity and
          commitment to help brands go beyond the limit.
          </p>
      </div>
      <div class="col-md-3">
        <h4 class="mb-5">Get in touch
        </h4>
        <ul class="list-unstyled footer__contact">
          <li class="mb-2"><img src="assets/images/mobile_icon.png" alt=""><a href="tel:+2-01021551322">+2 - 01021551322
          </a></li>
          <li class="mb-2"><img src="assets/images/envelope_icon.png" alt=""><a href="mailto:Bonder@digitalbondmena.com">Bonder@digitalbondmena.com

          </a></li>
          <li class="mb-2"><img src="assets/images/pin_map_icon.png" alt=""><a href="">11 Dr El-Sebaey, Ad Dokki,
            Giza Governorate </a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h4 class="mb-5">Explore  </h4>
        <ul class="list-unstyled footer__links">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about-us">About us</a></li>
          <li><a routerLink="/clients">Portfolio</a></li>
          <li><a routerLink="/careers">Careers</a></li>
          <li><a routerLink="/contact">Say hello</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="mb-5">Explore  </h4>
        <div class="row">
          <div class="col-md-5 mb-2">
            <a routerLink="" class="btn btn-white footer_button_explore">Branding
            </a>
          </div>
          <div class="col-md-7 mb-2">
            <a routerLink="" class="btn btn-white footer_button_explore">Social Media
            </a>
          </div>
          <div class="col-md-5 mb-2">
            <a routerLink="" class="btn btn-white footer_button_explore">Production
            </a>
          </div>
          <div class="col-md-7 mb-2">
            <a routerLink="" class="btn btn-white footer_button_explore">Web Development
            </a>
          </div>
          <div class="col-md-5 mb-2">
            <a routerLink="" class="btn btn-white footer_button_explore">Mobile Apps
            </a>
          </div>
          <div class="col-md-7 mb-2">
            <a routerLink="" class="btn btn-white footer_button_explore">SMS Campaigns
            </a>
          </div>
          <div class="col-md-12">
            <a routerLink="" class="btn btn-white footer_button_explore">Influencers Marketing & Digital PR
            </a>
          </div>
        </div>
      </div>
    </div>
      <div class="row justify-content-center align-items-center">
          <!--Social-->

          <!--Text-->
          <div class="col-lg-6 text-center text-lg-right d-flex align-items-center justify-content-lg-right justify-content-center">
              <p class="company-about fadeIn mb-0">
                Copyright © {{date}} Digitalbond. All rights reserved
              </p>
          </div>
      </div>
  </div>
</footer>
<!--Footer End-->
